// form需要配合list
.{$prefix}form {
  width: 100%
  li {
    display: flex
    align-items: stretch
    & > div {
      display: flex
      & > div {
        width: 100%  
      }
    }
    .textarea {
      display: block  
    }
  }
  .label {
    white-space: nowrap
    text-align: right
    font-size: 1.4rem
    padding: 1rem .5rem 1rem 1rem
  }
  .action {
    button {
      border: 0
      border-radius: 0
      height: 100%
    }
    span {
      padding: 0 1rem
    }
  }
  .label,
  .action,
  .input {
    align-items: center
  }
}