.{$prefix}checkbox {
  transition: all .3s ease
  display: inline-block
  -webkit-appearance: none
  font-size: fontSize(20)
  color: $border-color
  @extend .{$prefix}icon
  &:before {
    @extend .icon-unselected:before  
  }
  &:checked {
    color: $color-primary
    &:before {
      @extend .icon-selected:before
    }
  }
  // // 直角
  &.square {
    &:before {
      @extend .icon-unselected2:before  
    }
    &:checked {
      &:before {
        @extend .icon-selected2:before
      }
    }
  }
  // // 背景色
  for row in ($background-vars) {
    &.{row} {
      &:checked {
        color: lookup('$color-' + row)
      }
    }
  }
}

checkbox($size, $class) {
  .{$prefix}checkbox-{$class} {
    @extend .{$prefix}checkbox
    font-size: $size
  }
}

checkbox($checkbox-size-s, 's')
checkbox($checkbox-size-m, 'm')
checkbox($checkbox-size-l, 'l')
checkbox($checkbox-size-xl, 'xl')