.{$prefix}form {
  .input {
    flex-grow: 1
    flex-shrink: 1
    padding: 1rem 1rem 1rem .5rem
    input {
      display: inline-block
      width: 100%
      -webkit-appearance: none
      border: 0
      font-size: 1.4rem
    }
  }  
}
