.{$prefix}form {
  .input {
    flex-grow: 1
    flex-shrink: 1
    padding: size(10) size(10) size(10) size(5)
    input {
      display: inline-block
      width: 100%
      -webkit-appearance: none
      border: 0
      font-size: fontSize(14)
    }
  }  
}
