.{$prefix}radio {
  @extend .{$prefix}checkbox
}

radio($size, $class) {
  .{$prefix}radio-{$class} {
    @extend .{$prefix}radio
    font-size: $size
    width: size($size)
    height: size($size)
  }
}

radio($radio-size-s, 's')
radio($radio-size-m, 'm')
radio($radio-size-l, 'l')
radio($radio-size-xl, 'xl')