.{$prefix}form {
  .textarea {
    padding: size(10)
    borderFun($border-color)
    border-radius: 5px
    width: 100%
    textarea {
      width: 100%
    }
    .counter {
      text-align: right
      font-size: fontSize(12)  
    }
  }
}