.{$prefix}form {
  .textarea {
    padding: 1rem
    borderFun($border-color)
    border-radius: 5px
    width: 100%
    textarea {
      width: 100%
    }
    .counter {
      text-align: right
      font-size: 1.2rem  
    }
  }
}