// switch
$switch-default-width        = 36px
$switch-default-height       = 20px
$switch-small-width          = 30px
$switch-small-height         = 18px
$switch-big-width            = 42px
$switch-big-height           = 22px
$switch-bg-color             = $color-success

// radio
$radio-bg-color              = $color-primary
$radio-size-s                = 14px
$radio-size-m                = 16px
$radio-size-l                = 18px
$radio-size-xl               = 24px

// checked
$checkbox-bg-color              = $color-primary
$checkbox-size-s                = 14px
$checkbox-size-m                = 16px
$checkbox-size-l                = 18px
$checkbox-size-xl               = 24px