// switch
$switch-default-width        = 36px
$switch-default-height       = 20px
$switch-small-width          = 30px
$switch-small-height         = 18px
$switch-big-width            = 42px
$switch-big-height           = 22px
$switch-bg-color             = $color-success

// radio
$radio-bg-color              = $color-primary
$radio-size-s                = size(14)
$radio-size-m                = size(16)
$radio-size-l                = size(18)
$radio-size-xl               = size(24)

// checked
$checkbox-bg-color              = $color-primary
$checkbox-size-s                = size(14)
$checkbox-size-m                = size(16)
$checkbox-size-l                = size(18)
$checkbox-size-xl               = size(24)