.{$prefix}list {
  // 实例一
  &.theme-2 {
    & > li {
      display: flex
      align-items: stretch
      & > .media {
        position: relative
        spacePadding(2)
        width: auto
        flex-grow: 0
        flex-shrink: 0
        font-size: 0
        i {
          font-size: fontSize(24)
          align-items: center
          display: flex
        }
      }
      & > .info {
        position: relative
        display: flex
        spacePadding(2)
        width: 0%
        height: auto
        flex-grow: 1
        flex-shrink: 1
        flex-direction: column
        .title {
          & > div {
            display: flex
            align-items: flex-start
            justify-content: space-between
            & > .{$prefix}elip-1 + .status {
              line-height: 1.4
            }
            & > .{$prefix}elip-2 + .status {
              line-height: 1.8
            }
          }
          & > div:not(:last-child) {
            spacePadding(2, 'b')
          }
          flex-grow: 1
          flex-shrink: 1
        }
        .other {
          display: flex
          align-items: baseline
          justify-content: space-between
        }
        .status {
          white-space: nowrap
          spaceMargin(2, 'l')
          // color: $color-primary
        }
        .{$prefix}btn {
          margin-top: size(2)  
        }
      }
      & > .action {
        display: flex
        &.cross-center {
          spacePadding(2, 'r')
        }
      }
      // 当media下面有info，则info的左间距为0
      & > .media + .info {
        padding-left: 0
      }
      // 当info下面有media，则media的左间距为0
      & > .info + .media {
        padding-left: 0
      }
    }
  }
}

