.{$prefix}list {
  &.theme-3 {
    display: flex
    flex-wrap: wrap
    // 均分
    for item in range(1, 6) {
      &.col-{item} {
        & > li {
          width: (100 / item)%
          & > div {
            position: relative  
          }
          & > img,
          & > div > img {
            width: 100%
            display: block
          }
        }
      }
    }
    // 让li带内间距的列表，外层的ul也相应进行间距
    for item in range($space-small-size-min, $space-small-size-max) {
      &.padding-small-{item} {
        padding: size(1) * item * $space-small-size-multiple 
      }
    }
    & > li > div {
      // 删除
      & > .delete {
        position: absolute
        right: 0
        top: 0
        z-index: 2
        font-size: fontSize(24)
        color: $color-primary
      }
      & > .mask {
        position: absolute
        width: 100%
        bottom: 0
        left: 0
        // spacePadding(2)
        color: $color-white
        h1,h2,h3,h4,h5,h6{
          position: relative
          z-index: 2
          line-height: 1.4
        }
        background: rgba(0, 0, 0, 0.7)
        & > .theme-2,
        & > .theme-1 {
          background-color: transparent
        }
      }
    }
    
    // 正方形
    &.square {
      & > li > div {
        width:100%;
        padding-bottom: 100%;
        height: 0;
        position: relative;
        & > img {
          position: absolute
          width: 100%
          height: 100%
          object-fit: cover
          z-index: 1
        }
        & > .mask {
          background-color: rgba(0, 0, 0, 0.7)
          position: absolute
          top: 0
          left: 0
          right: 0
          bottom: 0
          z-index: 11
          color: $color-white
          font-size: 2em
          display: flex
          align-items: center
          justify-content: center
        }
      }
    }

    &.table {
      @extend .{$prefix}border-t
      @extend .{$prefix}border-l
      text-align: center
      & > li {
        padding: size(5) 0
        @extend .{$prefix}border-r
        @extend .{$prefix}border-b
      }
    }

    // 右侧带线(除最后一个)
    &.line-right {
      & > li {
        background: $color-body
        &.active {
          background: $color-primary
          color: $color-white
        }
      }
      & > li:first-child {
        border-top-left-radius: 4px
        border-bottom-left-radius: 4px
      }
      & > li:last-child {
        border-top-right-radius: 4px
        border-bottom-right-radius: 4px
      }
      & > li:not(:last-child) {
        @extend .{$prefix}border-r
        &:after {
          border-color: #E6EBF2
        }
      }
    }

  }
}