@import '../common/index.styl'

.{$prefix}avatar {
  position: relative
  font-size: 0
  & > img {
    width: 100%
    height: 100%
    border-radius: 100%
    position: relative
    &:before {
      background: url("/src/images/avatar_default.png") no-repeat
      background-size: cover
      z-index: 2
    }
    &:after {
      background: #ffffff
      z-index: 1
    }
    &:after,
    &:before {
      content: " "
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
    }
  }
}

for item in range($avatar-size-min, $avatar-size-max) {
  .{$prefix}avatar-{item} {
    width: size((item - 1) * $avatar-size-multiple + 20)
    height: size((item - 1) * $avatar-size-multiple + 20)
    @extend .{$prefix}avatar
  }
}