.{$prefix}badge {
  display: inline-block
  line-height: size(16)
  height: size(16)
  min-width: size(16)
  font-size: fontSize(12)
  border-radius: size(12)
  white-space: nowrap
  spacePadding(1, 'lr')
  color: $color-white
  background-color: $color-dot
  // 定义浏览器渲染引擎如何渲染字体
  // optimizeLegibility 浏览器在绘制文本时将着重考虑易读性，而不是渲染速度和几何精度
  // https://developer.mozilla.org/zh-CN/docs/Web/CSS/text-rendering
  text-rendering: optimizeLegibility
}

.{$prefix}dot {
  display: inline-block
  line-height: 1
  background-color: $color-dot
  padding: size(4)
  border-radius: 100px
}
.{$prefix}dot-small {
  @extend .{$prefix}dot
  padding: size(3)
}