.{$prefix}badge {
  display: inline-block
  line-height: 18px
  height: 18px
  font-size: 12px
  border-radius: 12px
  white-space: nowrap
  padding: 0 5px
  color: $color-white
  background-color: $color-dot
  // 定义浏览器渲染引擎如何渲染字体
  // optimizeLegibility 浏览器在绘制文本时将着重考虑易读性，而不是渲染速度和几何精度
  // https://developer.mozilla.org/zh-CN/docs/Web/CSS/text-rendering
  text-rendering: optimizeLegibility
}

.{$prefix}dot {
  display: inline-block
  line-height: 1
  background-color: $color-dot
  padding: 4px
  border-radius: 100px
}
.{$prefix}dot-small {
  @extend .{$prefix}dot
  padding: 3px
}