.{$prefix}btn
{
  position: relative
	display: inline-block
	text-decoration: none
	text-align: center
	margin: 0
	padding: $button-padding
	border-radius: $button-radius
	white-space: nowrap // 强制一行
	cursor: pointer
	touch-action: manipulation // 解决移动端点击事件延迟
	user-select: none
  -webkit-tap-highlight-color: transparent
	font-size: $button-font-size
  borderFun($button-border-color, '', $button-border-size)
  tapColor($button-bg-color)
  color: $button-font-color
	line-height: 1
  & > .{$prefix}icon,
	& > .iconfont {
    margin-right: size(5)
		vertical-align: middle
  }
	& > .loading {
    margin-right: size(5)
	}
}

// 循环生成不同颜色的按钮
for row in ($background-vars) {
  .{$prefix}btn.{row} {
    tapColor(lookup('$color-' + row))
		color: lookup('$color-' + row + '-text') ? lookup('$color-' + row + '-text') : $color-white
		border-color: lookup('$color-' + row + '-border') ? lookup('$color-' + row + '-border') : lookup('$color-' + row)
  }
}

// 背景透明
.{$prefix}btn.ghost {
	background: transparent
	for row in ($background-vars) {
		&.{row} {
			color: lookup('$color-' + row)
		}
	}
	&:active {
		background: $color-active	
	}
}

// 直角
.{$prefix}btn.straight {
	border-radius: initial
}

// 无边框
.{$prefix}btn.link {
	border: 0
}

// 块状
.{$prefix}btn.block {
	width: 100%	
	padding: size(12)
}

// 小号
.{$prefix}btn.small {
	padding: $button-padding-small
}

// 大号
.{$prefix}btn.big {
	padding: $button-padding-big
}

// 标签
.{$prefix}btn.tag {
	padding: size(3) size(4)
	spaceMargin(1, 'l')
	margin-top: 0
}

// 圆形
.{$prefix}btn.circle {
	border-radius: 50%
	width: size(50)
	height: size(50)
	padding: 0
	&.small {
		width: size(30)
		height: size(30)	
	}
}

// 按钮组
.{$prefix}btn-group {
		display: flex
		borderFun($button-border-color, '', $button-border-size)
		border-radius: size(5)
		button {
			border-radius: 0
			border: 0
			flex-grow: 1
      flex-shrink: 1
		}
		button:not(:last-child) {
			borderFun($button-border-color, 'right', $button-border-size)
		}
		button:first-child {
			border-top-left-radius: size(5)
			border-bottom-left-radius: size(5)
		}
		button:last-child {
			border-top-right-radius: size(5)
			border-bottom-right-radius: size(5)
		}
}
