.{$prefix}footer {
  .shadow {
    box-shadow:0px 8px 20px #CCCCCC  
  }
  .box {
    overflow: hidden
    // position: relative
    z-index: $z-index-3
    & > div {
      display: flex
      background: $color-white
      & > .{$prefix}btn {
        border-color: transparent
        border-radius: initial
        width: auto
        flex-grow: 1
        flex-shrink: 1
        spacePadding(2)
        & .{$prefix}icon {
          margin-right: 0
          font-size: fontSize(18)
        }
        &.auto {
          display: flex
          align-items: center
          justify-content: center
          flex-grow: 0
          flex-shrink: 0
        }
        // badge
        .{$prefix}badge {
          position: absolute
          left: 50%
          top: size(3)
        }
        & > div:nth-child(2) {
          font-size: fontSize(12)
          spaceMargin(1, 't')
        }
      }
    }
  }
}