.{$prefix}header {
  position: relative
  // 循环生成不同颜色的主题
  for row in ($background-vars) {
    &.{row} {
      color: row == 'white' ? $font-color : $color-white
      background: lookup('$color-' + row)
      .{$prefix}btn {
        // tapColor(lookup('$color-' + row))
        color: row == 'white' ? $font-color : $color-white
      }
    }
  }
  & > div {
    display: flex
    justify-content: space-between
    align-items: center
    height: size(44)
  }
  .{$prefix}search {
    height: size(40)
    flex-grow: 1
    flex-shrink: 1
    background-color: transparent
    .cancel {
      button {
        tapColor($color-white)
      }
    }
  }
  .title {
    display: flex
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    text-align: center
    width: 100%
    padding: 0 size(50)
    align-items: center
    justify-content: center
    font-size: fontSize(16)
    z-index: $z-index-1
  }
  .left,
  .right {
    display: flex
    height: 100%
    z-index: $z-index-2
    .{$prefix}btn {
      border-radius: initial
      border-width: 0px
      background: transparent
      // badge
      .{$prefix}badge {
        position: absolute
        left: 50%
        top: size(5)
      }
    }
    i {
      margin-right: 0
      font-size: fontSize(18)
    } 
  }
  .right {
    span {
      font-size: fontSize(14)
    }
  }
}