// 默认列表属性
.{$prefix}list {
  background-color: $list-bg
  & > li {
    position: relative
  }
  span {
    display: inline-block
  }
  // 让li带按下效果
  &.active {
    & > li {
      &:active {
        background-color: $color-active
      }  
    }  
  }
  li.active {
    &:active {
      background-color: $color-active
    }
  }
  // li带内间距的列表
  for item in range($space-size-min, $space-size-max) {
    &.padding-{item} {
      & > li {
        padding: size(1) * item * $space-size-multiple
      }  
    }
    &.padding-tb-{item} {
      & > li {
        padding-top: size(1) * item * $space-size-multiple
        padding-bottom: size(1) * item * $space-size-multiple
      }  
    }
    &.margin-{item} {
      // background: $body-bg
      & > li {
        background: $list-bg
        margin-bottom: size(1) * item * $space-size-multiple
      }  
    }
  }
  // li带内间距的列表(小间距)
  for item in range($space-small-size-min, $space-small-size-max) {
    &.padding-small-{item} {
      & > li {
        padding: size(1) * item * $space-small-size-multiple
      }  
    }
  }
  // li带下划线的列表
  &.line {
    & > li:not(:last-child) {
      @extend .{$prefix}border-b
    }
  }
  li.line {
    @extend .{$prefix}border-b
  }
  // li里的info带下划线
  &.info-line {
    & > li > .info {
      @extend .{$prefix}border-b
    }
  }
  // ul添加link 所有的li会带右边箭头
  &.link {
    & > li {
      spacePadding(7, 'r')
      @extend .{$prefix}icon
      &:before {
        content: "\e697"
        position: absolute
        right: space(2)
        top: 50%
        transform: translateY(-50%)
        font-size: fontSize(14)
        color: $color-gray
      }
      &:active {
        background-color: $color-active
      }
      & > .info {
        padding-right: 0 !important
      }
    }
  }
  // li添加link 当前li会带右边箭头
  li.link {
    spacePadding(7, 'r')
    @extend .{$prefix}icon
    &:before {
      content: "\e697"
      position: absolute
      right: space(2)
      top: 50%
      transform: translateY(-50%)
      font-size: fontSize(14)
      color: $color-gray
    }
    &:active {
      background-color: $color-active
    }
    & > .info {
      padding-right: 0 !important
    }
  }
  // ul添加border 所有li都带边框
  &.border {
    & > li {
      borderAfter()
      &:after {
        borderFun($border-color)
      }
    }
  }
  // ul添加radius 所有li都带圆角
  for item in range($radius-size-min, $radius-size-max) {
    &.radius-{item} {
      & > li {
        &:after {
          border-radius: size(2 * item * $radius-size-multiple)  
        }
      }
    }
  }
  // li带单选效果
  li.radio {
    spacePadding(5, 'r')
    @extend .{$prefix}icon
    &:before {
      content: "\e67b"
      position: absolute
      right: space(2)
      top: 50%
      transform: translateY(-50%)
      font-size: fontSize(14)
      color: $color-primary
    }
    &:active {
      background-color: $color-active
    }
    & > .info {
      padding-right: 0 !important
    }
  }
}

@import './list/theme-1.styl'
@import './list/theme-2.styl'
@import './list/theme-3.styl'