@import '../common/index.styl'

// 默认列表属性
.{$prefix}list {
  background-color: $list-bg
  & > li {
    position: relative
  }
  span {
    display: inline-block
  }
  // 带下划线的列表
  &.line {
    & > li:not(:last-child) {
      borderAfter()
      &:after {
        borderFun($border-color, 'bottom')
      }
    }
  }
  // 右边箭头
  &.link {
    & > li {
      &:after {
        content: "\e697"
        font-family: "w-icon" !important
        font-size: inherit
        font-style: normal
        -webkit-font-smoothing: antialiased
        -moz-osx-font-smoothing: grayscale
      }  
    }
  }
  // 案例一
  &.theme-1 {
    @extend .{$prefix}list.link
    & > li {
      display: flex
      align-items: center
      padding: size(10)
      & > i {
        margin-right: size(10)
      }
    }
  }
}

// li带内间距的列表
for item in range($space-size-min, $space-size-max) {
  .{$prefix}list.padding-{item} {
    & > li {
      padding: size(1) * item * $space-size-multiple
    }  
  }
}