.{$prefix}load-loop {
  animation: rotate 1s linear infinite;
}

vendors = webkit official

@keyframes rotate {
  from {
    transform: rotate(0deg)
  }
  50%  {
    transform: rotate(180deg)
  }
  to   {
    transform: rotate(360deg)
  }
}

.{$prefix}loading {
  display: flex
  align-items: center
  justify-content: center
  h6 {
    spaceMargin(1, 'l')
  }
}