@import '../common/index.styl'

.{$prefix}search {
  padding: size(5) size(8)
  display: flex
  background-color: #F4F4F4
  align-items: stretch
  overflow: hidden
  .container {
    display: flex
    flex-grow: 1
    flex-shrink: 1
    border-radius: size(25)
    overflow: hidden
    padding: size(5)
    font-size: size(12)
    background: #ffffff
  }
  .icon {
    font-family: "w-icon" !important
    font-size: size(16)
    font-style: normal
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    margin-right: size(5)
    color: #999
    &:before {
      content: "\e627"
    }
  }
  .icon {
    flex-grow: 0
    flex-shrink: 0  
  }
  .cancel {
    flex-grow: 0
    flex-shrink: 0
    margin-left: size(5)
    transition: all .3s
    margin-right: -(size(50))
    &.show {
      margin-right: 0  
    }
    button {
      border: 0
      height: 100%
      color: #666
      tapColor(#F5F5F5)
    }
  }
  .input {
    flex-grow: 1
    flex-shrink: 1
  }
}