.{$prefix}table {
  border-collapse: collapse
  border-spacing: 0
  tr {
    td, th {
      padding: size(10)
    }
    th {
      background: #F5F7FA
    }
  }
  &.full {
    width: 100%  
  }
  &.striped {
    & > tbody > tr:nth-child(odd) > td {
      background: #F5F7FA
    }
  }
  &.nowrap {
    white-space: nowrap
  }
  &.border {
    @extend .{$prefix}border-t
    @extend .{$prefix}border-l
    tr {
      th{
        @extend .{$prefix}border-r
        @extend .{$prefix}border-b
      }
      td{
        @extend .{$prefix}border-r
        @extend .{$prefix}border-b
      }
    }
  }
  &.line {
    tr{
      th{
         @extend .{$prefix}border-b
      }
      td{
        @extend .{$prefix}border-b
      }
    }
  }
}