@import '../common/index.styl'

.{$prefix}tab {
		borderFun($button-border-color, 'bottom', $button-border-size)
    display: flex
    button {
			border-radius: 0
			border: 0
			flex-grow: 1
      flex-shrink: 1
		}
}