// 遍历出文字颜色
for row in ($font-color-vars) {
  .{$prefix}color-{row} {
    color: lookup('$color-' + row)
  }
}
// 文字大小
for item in range($font-size-min, $font-size-max) {
  .{$prefix}font-{item} {
    font-size: size(((item * 2) - 2) + 10)
  }  
}

// H标签
for item in range(1, 6) {
  h{item} {
    font-size: size(($font-size-max - item) * 2 + 6)
    line-height: 1
    display: inline-block
    font-weight: normal
  }  
}

// 默认颜色
.{$prefix}color-default {
  color: $font-color
}

// 文字方向
.{$prefix}text-left {
  text-align: left
}
.{$prefix}text-right {
  text-align: right
}
.{$prefix}text-center {
  text-align: center
}

// 文字截断
.{$prefix}elip-1 {
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
}
.{$prefix}elip-2 {
  display: -webkit-box
  -webkit-box-orient: vertical
  -webkit-line-clamp: 2
  overflow: hidden
  line-height: 1.2
}