// 遍历出文字颜色
for row in ($font-color-vars) {
  .{$prefix}color-{row} {
    color: lookup('$color-' + row)
  }
}
// 文字大小
for item in range($font-size-min, $font-size-max) {
  .{$prefix}font-{item} {
    font-size: fontSize(((item * 2) - 2) + 10)
  }  
}

// H标签
h1, h2, h3, h4, h5, h6 {
  font-weight: normal
  line-height: 1
}

h1 {
  font-size: size(22)
}
h2 {
  font-size: size(20)
}
h3 {
  font-size: size(18)
}
h4 {
  font-size: size(16)
}
h5 {
  font-size: size(14)
}
h6 {
  font-size: size(12)
}

// 默认颜色
.{$prefix}color-default {
  color: $font-color
}

// 文字方向
.{$prefix}text-left {
  text-align: left
}
.{$prefix}text-right {
  text-align: right
}
.{$prefix}text-center {
  text-align: center
}

// 文字截断
.{$prefix}elip-1 {
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
}
.{$prefix}elip-2 {
  display: -webkit-box
  -webkit-box-orient: vertical
  -webkit-line-clamp: 2
  overflow: hidden
  line-height: 1.4
}

// 文字强制一行
.{$prefix}word-nowrap {
  white-space: nowrap
}