for item in range($space-size-min, $space-size-max) {
  .{$prefix}margin-lr-{item} {
    margin-left: size(1 * item * $space-size-multiple) !important
    margin-right: size(1 * item * $space-size-multiple) !important
  }
  .{$prefix}margin-tb-{item} {
    margin-top: size(1 * item * $space-size-multiple) !important 
    margin-bottom: size(1 * item * $space-size-multiple) !important
  }
  .{$prefix}margin-{item} {
    margin: size(1 * item * $space-size-multiple) !important
  }
  .{$prefix}padding-lr-{item} {
    padding-left: size(1 * item * $space-size-multiple) !important
    padding-right: size(1 * item * $space-size-multiple) !important
  }
  .{$prefix}padding-tb-{item} {
    padding-top: size(1 * item * $space-size-multiple) !important
    padding-bottom: size(1 * item * $space-size-multiple) !important
  }
  .{$prefix}padding-{item} {
    padding: size(1 * item * $space-size-multiple) !important
  }
}