for item in range($space-size-min, $space-size-max) {
  .{$prefix}margin-lr-{item} {
    margin-left: size(1 * item * $space-size-multiple)
    margin-right: size(1 * item * $space-size-multiple)
  }
  .{$prefix}margin-tb-{item} {
    margin-top: size(1 * item * $space-size-multiple) 
    margin-bottom: size(1 * item * $space-size-multiple)
  }
  .{$prefix}margin-{item} {
    margin: size(1 * item * $space-size-multiple)
  }
  .{$prefix}padding-lr-{item} {
    padding-left: size(1 * item * $space-size-multiple)
    padding-right: size(1 * item * $space-size-multiple)
  }
  .{$prefix}padding-tb-{item} {
    padding-top: size(1 * item * $space-size-multiple)
    padding-bottom: size(1 * item * $space-size-multiple)
  }
  .{$prefix}padding-{item} {
    padding: size(1 * item * $space-size-multiple)
  }
}

for item in range($space-small-size-min, $space-small-size-max) {
  .{$prefix}padding-small-{item} {
    padding: size(1 * item * $space-small-size-multiple)
  }
}