/**
默认边框
color = 边框颜色
location = 位置
line = 边框粗细
*/
borderFun($color, $location = '', $line = 1px) {
  border{$location ? '-' + $location : ''}: $line solid $color
}

/**
边框1px
*/
borderAfter($location = '') {
  position: relative
  &:after {
    display: block
    content: ''
    position: absolute
    left: 0
    top: 0
    transform-origin: 0 0
    pointer-events: none
    right: -100%
    bottom: -100%
    transform: scale(0.5)
    if($location) {
      borderFun($border-color, $location)
    }
  }
}

tapColor($color, $opacity = .9) {
  background-color: $color
  &:active {
    if ($color == 'transparent') {
      background-color: #f5f5f5
    } else {
      background-color: $color * $opacity
    }
  }
}

bg($background, $color = #fff) {
  background-color: $background
  if ($background == #ffffff || $background == #f7f7f7) {
    color: $font-color
  } else {
    color: $color
  }
}

size($size) {
  ($size)px
}

space($num) {
  size($num * $space-size-multiple)
}

spacePadding($num, $location = '') {
  if ($location == 't' || $location == 'tb') {
    padding-top: space($num)
  }
  if ($location == 'r' || $location == 'lr') {
    padding-right: space($num)
  }
  if ($location == 'b' || $location == 'tb') {
    padding-bottom: space($num)
  }
  if ($location == 'l' || $location == 'lr') {
    padding-left: space($num)
  }
  if ($location == '') {
    padding: space($num)
  }
}

spaceMargin($num, $location = '') {
  if ($location == 't' || $location == 'tb') {
    margin-top: space($num)
  }
  if ($location == 'r' || $location == 'lr') {
    margin-right: space($num)
  }
  if ($location == 'b' || $location == 'tb') {
    margin-bottom: space($num)
  }
  if ($location == 'l' || $location == 'lr') {
    margin-left: space($num)
  }
  if ($location == '') {
    margin: space($num)
  }
  ($size)px
}
