// 前缀
$prefix = 'w-'

// global
$z-index        = 1 // 定位的默认层级

// 主要颜色 应用于文字、背景、边框等
$color-primary     = #f8504f // 主色
$color-sub         = #00aaee // 辅色
$color-dot         = #ee3333 // 点缀色
$color-success     = #1fb922 // 成功
$color-error       = #f8504f // 失败
$color-danger      = #EF4F4F // 危险
$color-warning     = #FFB400 // 警告
$color-disabled    = #cccccc // 禁用

// 补充色
$color-gray        = #999999 // 灰色
$color-yellow      = #ff6600 // 黄色
$color-blue        = #00aaee // 蓝色
$color-green       = #22cc77 // 绿色

// font
$font-color     = #333333 // 默认颜色

// 文字大小
$font-size-max  = 24 // 文字最大号(24=2.4rem)
$font-size-min  = 10 // 文字最小号(10=1rem)

// 间距大小(间距范围, 5的倍数)
$space-size-max    = 30
$space-size-min    = 5
$space-size-step   = 5 // 步长

// 对外开放的背景颜色
$background-vars = 'primary' 'sub' 'dot' 'success' 'error' 'danger' 'warning' 'yellow' 'blue' 'green'
// 对外开放的文字颜色
$font-color-vars = 'primary' 'sub' 'dot' 'success' 'error' 'danger' 'warning' 'yellow' 'blue' 'green' 'gray' 'disabled'

// body
$body-bg       = #ffffff // 页面默认背景
$body-family   = "PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif // 默认字体

// button
$button-font-color            = #333333 // 默认文字颜色
$button-font-size             = 12 // 默认字体大小
$button-border-color          = #dddddd // 默认边框颜色
$button-border-size           = 1 // 默认边框大小
$button-bg-color              = transparent // 默认背景颜色(透明)
$button-padding-small         = .2rem .6rem // 小号按钮
$button-padding-big           = .8rem 2.4rem // 大号按钮
$button-padding               = .5rem 1.2rem // 按钮默认大小
$button-radius                = .5rem // 默认圆角大小

//border
$border-color                 = #cccccc // 边框默认颜色

// list
$list-bg         = #ffffff // 默认背景色