// 前缀
$prefix = 'w-'

// global
$z-index-1        = 1 // 用于border
$z-index-2        = 2 
$z-index-3        = 3 // 用于footer
$z-index-4        = 4 // 用于popup
$z-index-5        = 5 // 用于弹窗遮罩
$z-index-6        = 6

// 主要颜色 应用于文字、背景、边框等
$color-primary     = #ff3344 // 主色
$color-sub         = #00aaee // 辅色
$color-dot         = #ee3333 // 点缀色
$color-success     = #1fb922 // 成功
$color-error       = #f8504f // 失败
$color-danger      = #EF4F4F // 危险
$color-warning     = #FFB400 // 警告
$color-disabled    = #cccccc // 禁用
$color-active      = #f5f5f5 // 按下颜色
$color-body        = #f7f7f7 // 按下颜色

// 补充色
$color-gray        = #999999 // 灰色
$color-darkgray    = #666666 // 深灰色
$color-lightgray   = #eeeeee // 淡灰色
$color-yellow      = #ff6600 // 黄色
$color-blue        = #00aaee // 蓝色
$color-green       = #22cc77 // 绿色
$color-white       = #ffffff // 白色

// font
$font-color     = #333333 // 默认颜色

// 文字大小(默认步长2)
$font-size-max  = 8 // 文字最大号(24=2.4rem)
$font-size-min  = 1 // 文字最小号(1rem)

// 间距大小
$space-size-max              = 8
$space-size-min              = 0
$space-size-multiple         = 4 // 倍数
$space-small-size-max        = 8
$space-small-size-min        = 1
$space-small-size-multiple   = 1

// 对外开放的背景颜色
$background-vars = 'primary' 'sub' 'dot' 'success' 'error' 'danger' 'warning' 'yellow' 'blue' 'green' 'white' 'body'
// 对外开放的文字颜色
$font-color-vars = 'primary' 'sub' 'dot' 'success' 'error' 'danger' 'warning' 'yellow' 'blue' 'green' 'gray' 'disabled' 'white' 'darkgray'

// body
$body-bg       = $color-body // 页面默认背景
$body-family   = "PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif // 默认字体

// button
$button-font-color            = #333333 // 默认文字颜色
$button-font-size             = fontSize(12) // 默认字体大小
$button-border-color          = #dddddd // 默认边框颜色
$button-border-size           = 1px // 默认边框大小
$button-bg-color              = transparent // 默认背景颜色(透明)
$button-padding-small         = size(2) size(6) // 小号按钮
$button-padding-big           = size(8) size(24) // 大号按钮
$button-padding               = size(5) size(12) // 按钮默认大小
$button-radius                = size(5) // 默认圆角大小

// border
$border-color                 = #cccccc // 边框默认颜色

// radius
$radius-size-max              = 8
$radius-size-min              = 0
$radius-size-multiple         = 4 // 倍数

// list
$list-bg         = #ffffff // 默认背景色

// avatar
$avatar-size-max                = 12
$avatar-size-min                = 1
$avatar-size-multiple           = 5
